name: Build & Push

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "Dockerfile"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false 
      matrix:
        include:
          - version: "mono-6.14.1"
            tag: >
              soupbowl/wine-mono:latest,
              soupbowl/wine-mono:6,
              soupbowl/wine-mono:6.14,
              soupbowl/wine-mono:6.14.1,
              ghcr.io/${{ github.repository }}:latest,
              ghcr.io/${{ github.repository }}:6,
              ghcr.io/${{ github.repository }}:6.14,
              ghcr.io/${{ github.repository }}:6.14.1,
            platforms: linux/amd64,linux/arm64
          - version: "mono-6.14.0"
            tag: >
              soupbowl/wine-mono:6.14.0,
              ghcr.io/${{ github.repository }}:6.14.0,
            platforms: linux/amd64,linux/arm64

    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v4

      - name: Login to GitHub CR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Container
        uses: docker/build-push-action@v5
        with:
          push: true
          context: "{{defaultContext}}"
          tags: ${{ matrix.tag }}
          platforms: ${{ matrix.platforms }}
          build-args: |
            MONO_VERSION=${{ matrix.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

